/*
 * This file is part of AudioPlayer (https://gitlab.com/vitoyucepi/audio-player)
 * Copyright (C) 2023 Vitoyucepi
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@use '~@vitoyucepi/audioplayer/src/Styles' as styles;

.player-quality-selector {
  @include styles.header-common-font;

  background: unset;
  border: 0;
  height: styles.$default-header-line-height;
  outline: unset;
  text-align: center;
  text-align-last: center;

  &:hover,
  &:focus {
    @include styles.color-invert;
  }
}

.quality-selector-option {
  background-color: styles.$color-object-background;
  color: styles.$color-main;
  text-align: center;
  text-align-last: center;
}
