/*
 * This file is part of AudioPlayer (https://gitlab.com/vitoyucepi/audio-player)
 * Copyright (C) 2023 Vitoyucepi
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@use '../../functions/mq';
@forward './input-range' as input-range-*;
@forward './colors' as color-*;
@forward './dropdown' as dropdown-*;

$default-border-radius: mq.px2rem(5px);
$default-margin: mq.px2rem(5px);
$default-padding: mq.px2rem(5px);
$default-header-height: mq.px2rem(30px);
$default-header-line-height: mq.px2rem(20px);
$default-header-big-font-size: mq.px2rem(16px);
$default-header-font-size: mq.px2rem(14px);
