/*
 * This file is part of AudioPlayer (https://gitlab.com/vitoyucepi/audio-player)
 * Copyright (C) 2023 Vitoyucepi
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@use '../../functions/mq';
@use 'colors';
@use 'sass:math';

$track-height: mq.px2rem(2px);
$thumb-height: mq.px2rem(4px);
$thumb-width: $thumb-height;
$thumb-border-radius: $thumb-height;
$thumb-border-size: mq.px2rem(1px);

@mixin track {
  // noinspection CssInvalidPseudoSelector
  &::range-track {
    background: colors.$main;
    height: $track-height;
  }
}

@mixin thumb {
  // noinspection CssInvalidPseudoSelector
  &::range-thumb {
    appearance: none;
    background: colors.$object-background;
    border: $thumb-border-size solid colors.$main;
    border-radius: $thumb-border-radius;
    box-sizing: content-box;
    cursor: ew-resize;
    height: $thumb-height;
    margin-top: math.div($track-height - $thumb-height, 2) - $thumb-border-size;
    width: $thumb-width;
  }
}

@mixin thumb-invert-colors {
  background: colors.$main;
  border: $thumb-border-size solid colors.$object-background;
}

@mixin track-invert-colors {
  background: colors.$object-background;
}

@mixin main {
  @include track;
  @include thumb;

  appearance: none;
  background: colors.$object-background;
  outline: none;

  &:focus,
  &:hover {
    @include colors.invert;
  }

  // noinspection CssInvalidPseudoSelector
  &:focus::range-thumb,
  &:hover::range-thumb {
    @include thumb-invert-colors;
  }

  // noinspection CssInvalidPseudoSelector
  &:focus::range-track,
  &:hover::range-track {
    @include track-invert-colors;
  }
}
