/*
 * This file is part of AudioPlayer (https://gitlab.com/vitoyucepi/audio-player)
 * Copyright (C) 2023 Vitoyucepi
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@use '~@vitoyucepi/audioplayer/src/Styles' as styles;

.player-logo {
  align-items: center;
  display: flex;
  flex-direction: row;

  > * {
    margin-right: styles.$default-margin;
  }

  > *:last-child {
    margin-right: 0;
  }
}

.player-logo-image {
  background-image: url('../Resources/LogoImage_200x200.png');
  background-size: contain;
  border-radius: styles.$default-border-radius;
  height: styles.$default-header-line-height;
  width: styles.$default-header-line-height;
}

.player-logo-text {
  font-size: styles.$default-header-big-font-size;
  text-transform: uppercase;
}
