/*
 * This file is part of AudioPlayer (https://gitlab.com/vitoyucepi/audio-player)
 * Copyright (C) 2023 Vitoyucepi
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@use '~@vitoyucepi/audioplayer/src/Styles' as styles;

$volume-dropdown-width: styles.px2rem(100px);

.player-volume-input-range {
  @include styles.input-range-main;

  width: $volume-dropdown-width - styles.$default-header-line-height * 2;
}

.player-volume-input-icon {
  align-items: center;
  display: flex;
  height: styles.$default-header-line-height;
  justify-content: center;
  width: styles.$default-header-line-height;
}

.player-volume-dropdown-content {
  @include styles.dropdown-content;
  @include styles.default-shadow;

  align-items: center;
  background-color: styles.$color-object-background;
  border-radius: inherit;
  display: flex;
  height: styles.$default-header-line-height;
  justify-content: center;
  margin-top: styles.$default-margin;
  position: absolute;
  top: styles.$default-header-line-height;
  width: $volume-dropdown-width;

  &::before {
    content: '';
    height: styles.$default-margin;
    position: absolute;
    top: -(styles.$default-margin);
    width: $volume-dropdown-width;
  }

  &:hover,
  &:focus-within {
    @include styles.color-invert;
  }

  &:hover > .player-volume-input-range {
    @include styles.color-invert;
  }

  // noinspection CssInvalidPseudoSelector
  &:hover > .player-volume-input-range::range-thumb {
    @include styles.input-range-thumb-invert-colors;
  }

  // noinspection CssInvalidPseudoSelector
  &:hover > .player-volume-input-range::range-track {
    @include styles.input-range-track-invert-colors;
  }
}

.player-volume-dropdown {
  @include styles.dropdown-container;

  display: flex;
  height: styles.$default-header-line-height;
  justify-content: center;
}

.player-volume-button {
  @include styles.header-button;

  border-radius: inherit;

  &:hover,
  &:focus {
    @include styles.color-invert;
  }

  &:hover + .player-volume-dropdown-content,
  &:focus + .player-volume-dropdown-content {
    @include styles.dropdown-content-show;
  }
}
